YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

# Нужны только для триггеров "закат/восход" в сценариях. Без них такие триггеры
# просто не будут планироваться. Узнать координаты можно, например, на maps.yandex.ru
# (клик по точке на карте показывает широту/долготу).
HOME_LATITUDE=
HOME_LONGITUDE=
TIMEZONE=Europe/Moscow
